.container__main {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.main__title {
  text-align: center;
  grid-column: span 4;
  color: #ff7f37;
}
.main__game {
  width: 100%;
  padding: 0 4rem;
  grid-column: span 4;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
}
.game__block {
  height: 5.6rem;
  width: 5.6rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffc46b;
  background-size: cover;
}
.game__block:hover {
  cursor: pointer;
}
.game__block:active {
  transform: scale(0.9);
}
.game__btn {
  margin-bottom: 1.5rem;
  padding: 1.6rem;
  grid-column: 2 / span 2;
  font-weight: bold;
  color: #fffffa;
  background-color: #ff7f37;
  border: none;
}
.hide {
  display: none;
}
.illuminate {
  background-color: red;
}
.illuminatePlayer {
  background-color: green;
}
